/*
 * sections.css - Additional section-specific styles
 * For itszakariya.co.uk
 *
 * This file contains supplementary styles for specific sections
 * Main styles are in main.css
 */

/* Future section-specific styles can be added here */
